{% extends 'simple/base.html' %}

{% block content %}
    <div class="jumbotron jumbo_spacing">
      <center>
          <h2 class="index_color">WELCOME TO MY MINI IMAGE KEEPER APP</h2>
          <p></p>
          <h5 class="index_color">WE ARE HAPPY TO HAVE YOU.</h5>
            <br/><br/>
            <h6>Click  <a  href="{% url 'simple:registration' %}">here to Register</a> to enjoy all the functionalities of the website!</h6>

      </center>
    </div>
    <center> <h6>&copy;Copyright 2021 </h6></center>
{% endblock %}
